<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>

    <!-- Basic metas
    ======================================== -->
    <meta charset="utf-8">
    <meta name="author" content="Axilweb">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Mobile specific metas
    ======================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title
    ======================================== -->
    <title>Karwt | The Next Generation Ecommerce Platform</title>

    <!-- links for favicon
    ======================================== -->
    <link rel="shortcut icon" href="icon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="icon/favicon.ico" type="image/x-icon">

    <!-- Icon fonts
    ======================================== -->
    <link rel="stylesheet" type="text/css" href="css/vendor/cryptowallet-argon.css">

    <!-- css links
    ======================================== -->
    <!-- Bootstrap link -->
    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css">

    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="css/vendor/slick.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/slick-theme.css">

    <!-- Magnific popup -->
    <link rel="stylesheet" type="text/css" href="css/vendor/magnific-popup.css">

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Responsive styling -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>


<!-- body starts
============================================ -->

<body>

    <!-- Preloader -->


   
    <!-- End of .radial-bg -->

    <!-- navbar starts
    ============================================ -->
   
            <!-- End of .navbar-toggler -->

            <%-include('navbar')-%>
      
    <!-- End of .navbar -->

    <!-- banner starts
============================================ -->
    <section class="banner-inner"  >
        <div class="banner-wrapper banner-wrapper__banner-inner d-flex align-items-center"  >
            <div class="container">
                <div class="banner-txt" >
                    <h1>About Us</h1>
                </div>
                <!-- End of .banner-txt -->
            </div>
            <!-- End of .container -->
        </div>
        <!-- End of .banner-wrapper -->
    </section>
    <!-- End of .banner -->

    <!-- about starts
============================================ -->
    <section class="section">
        <div class="container">
            <div class="about-wrapper text-content1">
                <div class="about-us section-padding">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h2>Vision</h2>
                           

                            <p> Karwt is an e-commerce website aiming to create a decentralized marketplace by providing a platform to local vendors for selling their products. It is an indigenous online marketplace where the selling and buying of the different types of 'Swadeshi' products will be easy and profitable for both the seller and the buyer. It will help connect many small manufacturers and vendors to large numbers of customers, thus increasing their business size.  The sellers on this platform can connect with their buyers directly and can get feedback from them. It will help in the one-to-one promotion of different kinds of 'Swadeshi' products sold on this platform.</p>
                        </div>
                        <!-- End of .col-lg-6 -->

                        <div class="col-lg-6">
                            <img src="images/about/about-1.jpg" alt="about image">
                        </div>
                        <!-- End of .col-lg-6 -->
                    </div>
                    <!-- End of .row -->
                </div>
                <!-- End of .about-us -->

                <div class="about-us section-padding">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-lg-2">
                            <h2>Mission</h2>
                            <!-- <p class="action-color">“Proin egestas odio magna, vel imperdiet nibh tempor nec. Proin imperdiet viverra neque, quis
                                volutpat nisi pulvinar. ”</p> -->

                            <p>Karwt is going to follow a closed-market policy. It means that the products developed in a village or town will get sold in that particular village or town. So selling or purchases will happen at a local level and thus keeping their wealth among them.  
                                Since Karwt is a decentralized organization, so the profit earned by it will not go to a single person but will be used for paying the sellers and for the development of that particular town or village, thus making itself sufficient and developed.
                                Karwt will get divide into several levels. Those levels are states at the top, which get divided into zones. Then the zone is divided into divisions, then into subdivisions, followed by towns. Each town will have its centers, which will be under the supervision of an assistant. So a whole state will get divided into small towns, thus making the operation of the closed-market easy.
                                Karwt centers will get established across small towns and villages. These centers will get built at a periphery of 10 kilometers, with a population of approximately 50000 peoples. It will manage the sale and purchase of that given village or town. It will also help in the delivery of the products in that respective town or village. Ultimately Karwt will help in increasing the employment rate by creating different job offers for the people.
                            </p>
                        </div>
                        <!-- End of .col-lg-6 -->

                        <div class="col-lg-6">
                            <img src="images/about/about-2.jpg" alt="about image">
                        </div>
                        <!-- End of .col-lg-6 -->
                    </div>
                    <!-- End of .row -->
                </div>
                <!-- End of .about-us -->
            </div>
            <!-- End of .about-wrapper -->
        </div>
        <!-- End of .container -->
    </section>


    <section>
        <div class="container">
            <div class="purchase-token-banner token-box text-center m-b-40">
                <h3>Prelunch campaign is ending soon. Get your points today!</h3>
                <a href="#" class="btn" data-toggle="modal" data-target="#myModal">Register Now</a>
            </div>
            <!-- End of .purchase-token-banner -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of section -->

    

    <!-- footer starts
============================================ -->
 
<%-include('footer-home')-%>


</body>

</html>