<!DOCTYPE html:5>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>

    <!-- Basic metas
    ======================================== -->
    <meta charset="utf-8">
    <meta name="author" content="Axilweb">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Mobile specific metas
    ======================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title
    ======================================== -->
    <title>Karwt | The Next Generation Ecommerce Platform</title>

    <!-- links for favicon
    ======================================== -->
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon">

    <!-- Icon fonts
    ======================================== -->
    <link rel="stylesheet" type="text/css" href="/css/vendor/cryptowallet-argon.css">

    <!-- css links
    ======================================== -->
    <!-- Bootstrap link -->
    <link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap.min.css">

    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="/css/vendor/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor/slick-theme.css">

    <!-- Magnific popup -->
    <link rel="stylesheet" type="text/css" href="/css/vendor/magnific-popup.css">

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- Responsive styling -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
</head>
<body>


            <%-include('navbar')-%>
        
    <section class="banner-inner">
        <div class="banner-wrapper banner-wrapper__banner-inner d-flex align-items-center">
            <div class="container">
                <div class="banner-txt">
                    <h1>Contact</h1>
                </div>
                <!-- End of .banner-txt -->
            </div>
            <!-- End of .container -->
        </div>
        <!-- End of .banner-wrapper -->
    </section>

    <section>
        <div class="container" >
            <div class="contact-form-wrapper section-padding">
                <div class="row">
                    <div class="col-md-7"  >
                        <form action="#" method="POST" class="token-box contact-form" >
                            <h3>
                                <i class="icon-envelope-open"></i>Send Us A Message</h3>
                            <div class="form-group">
                                <label class="custom-label" for="name-field">What is your name?</label>
                                <input type="text" class="form-control" id="name-field" name="fname" value="">
                            </div>
                            <!-- End of .form-group -->

                            <div class="form-group">
                                <label class="custom-label" for="email-field">What is your work email?</label>
                                <input type="email" class="form-control" id="email-field" name="email">
                            </div>
                            <!-- End of .form-group -->

                            <div class="form-group">
                                <label class="custom-label" for="phone-field">What is your phone number?</label>
                                <input type="text" class="form-control" id="phone-field" name="phone">
                            </div>
                            <!-- End of .form-group -->

                            <div class="form-group">
                                <label class="custom-label" for="subject-field">What do you want to talk about?</label>
                                <input type="text" class="form-control" id="subject-field" name="subject">
                            </div>
                            <!-- End of .form-group -->

                            <div class="form-group">
                                <label class="custom-label" for="textarea-field">Tell us more about your story…</label>
                                <textarea class="form-control" id="textarea-field" name="message"></textarea>
                            </div>
                            <!-- End of .form-group -->

                            <button class="btn" type="submit">Submit form</button>
                        </form>
                    </div>
                    <!-- End of .col-md-7 -->

                    <div class="col-md-5">
                        <div class="info-widget-wrapper">
                            <div class="info-widget">
                                <h4>Headquarters</h4>
                                <p class="address">121 King St, Melbourne
                                    <br> VIC 3000, Australia</p>
                                <p>
                                    Phone:
                                    <a href="tel:+611900654321">+61 1900 654 321</a>
                                </p>
                                <p>
                                    Fax:
                                    <a href="tel:+611900654322">+61 1900 654 322</a>
                                </p>
                                <p>
                                    Email:
                                    <a href="mailto:contact@yourcompany.com">contact@yourcompany.com</a>
                                </p>
                            </div>
                            <!-- End of .info-widget -->

                            <div class="info-widget">
                                <h4>Branch Office</h4>
                                <p class="address">Ap # 867-859 Sit Rd. Azusa
                                    <br> New York 39531</p>
                                <p>
                                    Phone:
                                    <a href="tel:+12025550130">+1-202-555-0130</a>
                                </p>
                                <p>
                                    Fax:
                                    <a href="tel:Fax:+12025550131">+1-202-555-0131</a>
                                </p>
                                <p>
                                    Email:
                                    <a href="mailto:contact@yourcompany.com">contact@yourcompany.com</a>
                                </p>
                            </div>
                            <!-- End of .info-widget -->

                            <div class="info-widget">
                                <h4>Follow Us</h4>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com" target="_blank" rel="noopener">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="https://www.twitter.com" target="_blank" rel="noopener">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="https://www.instagram.com" target="_blank" rel="noopener">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="https://www.youtube.com" target="_blank" rel="noopener">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                    <a href="https://www.linkedin.com" target="_blank" rel="noopener">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a href="https://www.pinterest.com" target="_blank" rel="noopener">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </div>
                                <!-- End of .social-icons -->
                            </div>
                            <!-- End of .info-widget -->
                        </div>
                        <!-- End of .info-widget-wrapper -->
                    </div>
                    <!-- End of .col-md-5 -->
                </div>
                <!-- End of .row -->
            </div>
            <!-- End of .contact-form-wrapper -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .section -->

    <!-- map-tab starts
============================================ -->
    <section>
        <div class="container">
            <div class="map-tab section-padding">
                <div class="section-heading text-center section-heading__without-title">
                    <h2>Our Location</h2>
                </div>
                <!-- End of .section-heading -->

                <div class="map-tab-wrapper common-tab">
                    <ul class="nav nav-tabs row no-gutters" id="map-tab" role="tablist">
                        <li class="nav-item col">
                            <a class="nav-link active" id="map-tab-1" data-toggle="tab" href="#headquarters" role="tab" aria-controls="headquarters"
                                aria-selected="true">Headquarters</a>
                        </li>
                        <li class="nav-item col">
                            <a class="nav-link" id="map-tab-2" data-toggle="tab" href="#branch-office" role="tab" aria-controls="branch-office" aria-selected="false">Branch Office</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="map-tab-Content">
                        <div class="tab-pane fade show active" id="headquarters" role="tabpanel" aria-labelledby="map-tab-1">
                            <div class="map-wrapper">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8401081815928!2d144.95373631578755!3d-37.81721397975181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sbd!4v1525762233561"
                                    allowfullscreen></iframe>
                            </div>
                            <!-- End of .map-wrapper -->
                        </div>
                        <!-- End of .tab-pane -->
                        <div class="tab-pane fade" id="branch-office" role="tabpanel" aria-labelledby="map-tab-2">
                            <div class="map-wrapper">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26390.103857093985!2d-74.01134788060229!3d40.696461692475566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbd!4v1525762423590"
                                    allowfullscreen></iframe>
                            </div>
                            <!-- End of .map-wrapper -->
                        </div>
                        <!-- End of .tab-pane -->
                    </div>
                    <!-- End of .tab-content -->
                </div>
                <!-- End of .map-tab -->
            </div>
            <!-- End of .map-tab -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of section -->

    <!-- footer starts
============================================ -->
 
<%-include('footer-home')-%>


</body>

</html>