<!DOCTYPE html:5>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
  <!--<![endif]-->

  <head>
    <!-- Basic metas
    ======================================== -->
    <meta charset="utf-8" />
    <meta name="author" content="Axilweb" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Mobile specific metas
    ======================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Title
    ======================================== -->
    <title>Karwt | The Next Generation Ecommerce Platform</title>

    <!-- links for favicon
    ======================================== -->
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />

    <!-- Icon fonts
    ======================================== -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/vendor/cryptowallet-argon.css"
    />

    <!-- css links
    ======================================== -->
    <!-- Bootstrap link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/vendor/bootstrap.min.css"
    />

    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="/css/vendor/slick.css" />
    <link rel="stylesheet" type="text/css" href="/css/vendor/slick-theme.css" />

    <!-- Magnific popup -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/vendor/magnific-popup.css"
    />

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <!-- Responsive styling -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  </head>
  <body>
    <%-include('navbar')-%>

    <section class="banner-inner">
      <div
        class="
          banner-wrapper banner-wrapper__banner-inner
          d-flex
          align-items-center
        "
      >
        <div class="container">
          <div class="banner-txt">
            <h1>Contact</h1>
          </div>
          <!-- End of .banner-txt -->
        </div>
        <!-- End of .container -->
      </div>
      <!-- End of .banner-wrapper -->
    </section>

    <section>
      <div class="container">
        <div class="contact-form-wrapper section-padding">
          <div class="row">
            <div class="col-md-7">
              <form
                action="#"
                method="POST"
                class="token-box contact-form"
                style="color: black !important"
              >
                <h3><i class="icon-envelope-open"></i>Send Us A Message</h3>
                <div class="form-group">
                  <label class="custom-label" for="name-field"
                    >What is your name?</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="name-field"
                    name="fname"
                    value=""
                  />
                </div>
                <!-- End of .form-group -->

                <div class="form-group">
                  <label class="custom-label" for="email-field"
                    >What is your work email?</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="email-field"
                    name="email"
                  />
                </div>
                <!-- End of .form-group -->

                <div class="form-group">
                  <label class="custom-label" for="phone-field"
                    >What is your phone number?</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phone-field"
                    name="phone"
                  />
                </div>
                <!-- End of .form-group -->

                <div class="form-group">
                  <label class="custom-label" for="subject-field"
                    >What do you want to talk about?</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="subject-field"
                    name="subject"
                  />
                </div>
                <!-- End of .form-group -->

                <div class="form-group">
                  <label class="custom-label" for="textarea-field"
                    >Tell us more about your quory...</label
                  >
                  <textarea
                    class="form-control"
                    id="textarea-field"
                    name="message"
                  ></textarea>
                </div>
                <!-- End of .form-group -->

                <button class="btn" onclick="contactus()" type="button">
                  Submit form
                </button>
              </form>
            </div>
            <!-- End of .col-md-7 -->

            <div class="col-md-5">
              <div class="info-widget-wrapper">
                <div class="info-widget">
                  <h4>If any Query Connect Us Now</h4>
                  <p>
                    Phone:
                    <a href="tel:+9956564113"
                      >+91 9956564113 / +91 9917005984</a
                    >
                  </p>

                  <p>
                    Email:
                    <a href="mailto:contact@karwt.com">contact@karwt.com</a>
                  </p>
                </div>

                <div class="info-widget">
                  <h4>Follow Us</h4>
                  <div class="social-icons">
                    <a
                      href="https://www.facebook.com/karwt"
                      target="_blank"
                      rel="noopener"
                    >
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a
                      href="https://twitter.com/karwt1"
                      target="_blank"
                      rel="noopener"
                    >
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a
                      href="https://www.instagram.com/swadesi_karwt"
                      target="_blank"
                      rel="noopener"
                    >
                      <i class="fab fa-instagram"></i>
                    </a>
                    <a
                      href="https://www.youtube.com/c/KARWT"
                      target="_blank"
                      rel="noopener"
                    >
                      <i class="fab fa-youtube"></i>
                    </a>
                    <a
                      href="https://www.linkedin.com/in/karwt"
                      target="_blank"
                      rel="noopener"
                    >
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </div>
                  <!-- End of .social-icons -->
                </div>
                <!-- End of .info-widget -->
              </div>
              <!-- End of .info-widget-wrapper -->
            </div>
            <!-- End of .col-md-5 -->
          </div>
          <!-- End of .row -->
        </div>
        <!-- End of .contact-form-wrapper -->
      </div>
      <!-- End of .container -->
    </section>
    <!-- End of .section -->

    <%-include('footer-home')-%>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function contactus() {
      var data = {
        name: $("#name-field").val(),
        email: $("#email-field").val(),
        phone: $("#phone-field").val(),
        subject: $("#subject-field").val(),
        query: $("#textarea-field").val(),
      };
      $.ajax({
        url: "/contactus",
        method: "post",
        data: data,
        success: function (data) {
            Swal.fire('Sent!', 'We will get back to you soon', 'success')

        },
      });
      $("#name-field").val(""),
        $("#email-field").val(""),
        $("#phone-field").val(""),
        $("#subject-field").val(""),
        $("#textarea-field").val("");
    }
  </script>
  </body>
</html>
