<footer class="footer">
    
    <!-- End of .radial-bg -->
    <div class="container">
      <div class="page-footer">
        <div class="footer-menu">
          <div class="row">
            <div class="col-md">
              <a href="index.html" class="d-block">
                <img  src="images/brand-logo.png" alt="brand logo" />
              </a>
            </div>
            <!-- End of .col -->

            <div class="col-md">
              <h5>Company</h5>
              <ul class="footer-nav">
                <li>
                  <a href="/">Home</a>
                </li>
                
                <li>
                  <a href="/about">About</a>
                </li>
                <li>
                  <a href="/contact">Contact</a>
                </li>
              </ul>
              <!-- End of .footer-nav -->
            </div>
            <!-- End of .col -->

            <div class="col-md">
              <h5>Help</h5>
              <ul class="footer-nav">
                <li>
                  <a href="terms-and-conditions.html">Terms &amp; Conditions</a>
                </li>
                <li>
                  <a href="privacy-policy.html">Privacy Policy</a>
                </li>
                <li>
                  <a href="/contact">Contact</a>
                </li>
              </ul>
              <!-- End of .footer-nav -->
            </div>
            <!-- End of .col -->

            <div class="col-md-4">
              <h5>Connect with us</h5>
              <p>Follow us to stay updated</p>

              <div class="social-icons">
                <a href="https://www.facebook.com/karwt" target="_blank" rel="noopener">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/karwt1" target="_blank" rel="noopener">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/swadesi_karwt" target="_blank" rel="noopener">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.youtube.com/c/KARWT" target="_blank" rel="noopener">
                  <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.linkedin.com/in/karwt" target="_blank" rel="noopener">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
              <!-- End of .social-icons -->
            </div>
            <!-- End of .col -->
          </div>
          <!-- End of .row -->
        </div>
        <!-- End of .footer-menu -->

        <div class="footer-bottom">
          <p>
            Copyright &copy; 2021. All rights reserved by
            <a href="#">Karwt</a>
          </p>
          
            <div  id="google_translate" class="ml-auto">
              
            </div>
            <!-- End of .dropdown-menu -->
          
          <!-- End of .dropdown -->
        </div>
        <!-- End of .footer-copyright -->
      </div>
      <!-- End of .page-footer -->
    </div>
    <!-- End of .container -->
  </footer>

  <script src="/js/vendor/jquery-3.2.1.min.js"></script>
  <script src="/js/vendor/jquery-migrate.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/js/vendor/bootstrap.bundle.min.js"></script>
  <!-- font awesome -->
  <script src="/js/vendor/fontawesome-all.min.js"></script>
  <!-- jQuery Countdown plugin -->
  <script src="/js/vendor/jquery.countdown.min.js"></script>
  <!-- jQuery Easing Plugin -->
  <script src="/js/vendor/easing-1.3.js"></script>
  <!-- jQuery progressbar plugin -->
  <script src="/js/vendor/jquery.waypoints.min.js"></script>
  <!-- Bootstrap Progressbar -->
  <script src="/js/vendor/bootstrap-progressbar.min.js"></script>
  <!-- ImagesLoaded js -->
  <script src="/js/vendor/imagesloaded.pkgd.min.js"></script>
  <!-- Slick carousel js -->
  <script src="/js/vendor/slick.min.js"></script>
  <!-- Magnific popup -->
  <script src="/js/vendor/jquery.magnific-popup.min.js"></script>

  
  <!-- Custom js -->
  <script src="/js/main.js"></script>
<style>
    .goog-logo-link {
    display:none !important;
} 
    
.goog-te-gadget{
    color: transparent !important;
}

.goog-te-combo option{
    color:white !important;
}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }
</style>

  <script type="text/javascript">

  function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: "hi,en,te,bn,ta,or" }, 'google_translate');
        }
    </script>
    
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>