<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                ©
                <script>document.write(new Date().getFullYear())</script> All copyrights reserved<span></span> by KARWAT PVT. LTD.</span>
            </div>
        </div>
    </div>
</footer>