<!DOCTYPE html>


<html class="no-js" lang="en">


<head>

  <meta charset="utf-8" />
  <meta name="author" content="Axilweb" />
  <meta name="description" content="Karwt | Apka Apna Swadeshi | A Decentralized Made in India Ecommerce Platform" />
  <meta name="keywords" content="Karwt | A Next Generation Decentralized Ecommerce Platform |Apka Apna Swadeshi" />


  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Karwt | A Decentralized Made in India Ecommerce Platform</title>

  <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />

  
  <!-- Bootstrap link -->
  <link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap.min.css" />

  <!-- Slick slider -->
  <link rel="stylesheet" type="text/css" href="/css/vendor/slick.css" />
  <link rel="stylesheet" type="text/css" href="/css/vendor/slick-theme.css" />

  <!-- Magnific popup -->
  <link rel="stylesheet" type="text/css" href="/css/vendor/magnific-popup.css" />

  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" href="/css/main.css" />

  <!-- Responsive styling -->
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T44JNHG');</script>
  <!-- End Google Tag Manager -->
  <style>
    .nav-tabs {
      margin-bottom: 15px;
    }

    .sign-with {
      margin-top: 25px;
      padding: 20px;
    }

    div#OR {
      height: 30px;
      width: 30px;
      border: 1px solid #c2c2c2;
      border-radius: 50%;
      font-weight: bold;
      line-height: 28px;
      text-align: center;
      font-size: 12px;
      float: right;
      position: absolute;
      right: -16px;
      top: 40%;
      z-index: 1;
      background: #dfdfdf;
    }
    #time{
      color:red;
    }
  </style>
  <link rel="stylesheet" href="/css/loader.css">
</head>


<body class='bg1'>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T44JNHG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v11.0&appId=570805010303744&autoLogAppEvents=1" nonce="DMHgkQCF"></script>

  <div class="o-preloader">
    <div class="o-preloader_inner"></div>
  </div>


      <%-include('navbar')-%>

    
  <section class="banner">
     
    <div class="container"  >
      <div class="banner-wrapper d-flex align-items-center">
        <div class="banner-txt">
          <h1 style="font-weight:600"><b><span style="color:rgb(28,51,92)">K</span><span style="color:rgb(254,188,23)">A</span><span style="color:rgb(28,51,92)">R</span><span style="color:red">W</span><span style="color:rgb(28,51,92)">T</span></b> </h1>
          <p>
            A Decentralized Made in India Ecommerce Platform
          </p>
          <!-- <a class="btn" href="#">Whitepaper</a> -->
          <a class="btn btn-play video-popup  " style="color:rgb(28,51,92)" href="https://www.youtube.com/watch?v=c2C35nbHyQc">
            <i class="icon-play-1"></i> Project Intro
          </a>


          <div class="container">

          <h1><b>Upcoming Website</b> </h1>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext"><b>Days</b></div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext"><b>Hours</b></div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext"><b>Minutes</b></div>
  </div>
  <div style="    margin-top: 10px;">
    <span class="seconds"></span>
    <div class="smalltext"><b>Seconds</b></div>
  </div>
</div>
           
          

         
</div>

           
          
        </div>
      
        <!-- End of .banner-txt -->

        <div class="img-container img-container__banner">
          <img src="/images/banner/home-banner.png" alt="home banner image" class="img-fluid ml-auto" />
        </div>
        <!-- End of .img-container -->
      </div>
      <!-- End of .banner-wrapper -->
    </div>
    <!-- End of .container -->
  </section>
   
  <!-- End of .banner -->

  <!-- token-slider starts
============================================ -->

  <!-- End of .banner-slider -->

  <!-- features starts
============================================ -->
  <section class="features">
    
    <!-- End of .radial-bg -->

    <div class="container" >
      <div class="feature-wrapper" >
        <div class="feature-content section-padding">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="text-content1">
                <h2>
                  Best Growing Company
                </h2>
                <p>
                  KARWT is a E-commerce platforms such as other E-commerce websites. The difference is KARWT pay B0NUS to users who sign up during pre-launch alone.
                </p>
                <!-- <a href="#" class="btn-link">Download White Paper
                  <i class="icon-arrow-right-1"></i>
                </a> -->
              </div>
              <!-- End of .text-content -->
            </div>
            <!-- End of .col-md-6 -->

            <div class="col-md-6">
              <div class="img-container">
                <img src="/images/feature-img/features-1.png" alt="feature image" />
              </div>
              <!-- End of .img-container -->
            </div>
            <!-- End of .col-md-6 -->
          </div>
          <!-- End of .row -->
        </div>
        <!-- End of .feature-content -->

        <div class="feature-content section-padding">
          <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
              <div class="text-content1">
                <h2>What makes us different </h2>
                <p>We just to refer atleast 3 other users through our referral link and we are able to be eligible for B0NUS of them. KARWT in pre-launch till "LAUNCH DATE". The users who be part of our community thru your private link will reason you to grow points. Every new member five generations deep motive you to grow by means of point 1.

                </p>
                
              </div>
              <!-- End of .text-content -->
            </div>
            <!-- End of .col-md-6 -->

            <div class="col-md-6 order-md-1">
              <div class="img-container">
                <img src="/images/feature-img/features-2.png" alt="feature image" />
              </div>
              <!-- End of .img-container -->
            </div>
            <!-- End of /.col-md-6 -->
          </div>
          <!-- End of .row -->
        </div>
        <!-- End of .feature-content -->
      </div>
      <!-- End of .feature-wrapper -->
    </div>
    <!-- End of .container -->
  </section>
  <!-- End of .features -->

  <!-- benefits-of-solution starts
============================================ -->
  <section class="section"   >
    <div class="container">
      <div class="benefits-of-solution section-padding">
        <div class="section-heading text-center">
          <h2>Benefits of Using Our Platform</h2>
     
        </div>
        <!-- End of .section-heading -->

        <div class="row">
          <div class="col-md-6">
            <div class="benefits-content">
              <i class="icon-clock-1"></i>
              <h4>Best Referral Program</h4>
              <p>
                KARWT only dividing 50% of profit as bonus to users by the amount of POINTS. Suppose that for a month the rate per POINT INR ₹ 10.00 and POINT users have 3000. This means KAWRT will pay on that month 3000 x 10.00 = INR ₹ 30000.00! WoW
              </p>
            </div>
            <!-- End of inner-content -->
          </div>
          <!-- End of .col-md-6 -->

          <div class="col-md-6">
            <div class="benefits-content">
              <i class="icon-cloud"></i>
              <h4>Win Win Situtation</h4>
              <p>
                Once the new USERS will create the community during pre-launch. Upto 50% of profit will be distributed to all the pre-launch users & rest of the profit will go back to KARWT organization. Our primary motto as a KARWT is to serve community & spread the awareness of swadeshi brands and help our local vendors to assay their products.
              </p>
            </div>
            <!-- End of inner-content -->
          </div>
          <!-- End of .col-md-6 -->

          <div class="col-md-6">
            <div class="benefits-content">
              <i class="icon-chart-5"></i>
              <h4>Its Completely Free</h4>
              <p>
                KARWT is free to use! You no need to PAY a penny! REGISTERED users best before the "LAUNCH DATE", Simplest entitled to acquire B0NUS
              </p>
            </div>
            <!-- End of inner-content -->
          </div>
          <!-- End of .col-md-6 -->

          <div class="col-md-6">
            <div class="benefits-content">
              <i class="icon-clock-1"></i>
              <h4>Our Aim to serve society</h4>
              <p>
                KARWT works only for the betterment of our society. We are here to promote welfare and trade of indigenous swadeshi products.
              </p>
            </div>
            <!-- End of inner-content -->
          </div>
          <!-- End of .col-md-6 -->

          <div class="col-md-6">
            <div class="benefits-content">
              <i class="icon-box-2"></i>
              <h4>How users earn points</h4>
              <p>
                User just need to promote KARWT to others users by referral link whenever someone registered thru your referral link in five generation deep you earn a point example:
You invite 5 of your friends and your friends 5 of their friends and in the same way invite all your friends ... so<br>
                1st.Generation 5 x 1 = 5 <br>
                2nd. Generation 5 x 5 = 25 <br>
                3rd. Generation 25 x 5 = 125 <br>
                4th. Generation 125 x 5 = 625 <br>
                5th.Generation 625 x 5 = 3125 <br>

                YOU WILL RECEIVE MONTHLY PASSIVE INCOME from POINTS 3905 PER MONTH FOR LIFE
              </p>
            </div>
            <!-- End of inner-content -->
          </div>
          <!-- End of .col-md-6 -->

          <div class="col-md-6">
            <div class="benefits-content">
              <i class="icon-envelope"></i>
              <h4>Life Long Benefits</h4>
              <p>
                KARWT will provide benefits for life only to those who turn out to be A USER AND INTRODUCES NEW users before the date of launch "LAUNCH DATE". Profits TO BE PAID in your network in five Generations every ONE YOU REFERRED, WOW a lots of profit...
              </p>
            </div>
            <!-- End of inner-content -->
          </div>
          <!-- End of .col-md-6 -->
        </div>
        <!-- End of .row -->
      </div>
      <!-- End of .benefits-of-solution -->
    </div>
    <!-- End of .container -->
  </section>
  <!-- End of section -->

  <!-- roadmap-to-success starts
============================================ -->
  <section class="section">
   
    <!-- End of .radial-bg -->

    <div class="container">
      <div class="roadmap-to-success section-padding" id="roadmap">
        <div class="section-heading text-center">
          <h2>Roadmap to Success</h2>
          <p>
            KARWT aims to work for local people along with them. For achieving this aim, KARWT planned to provide an e-commerce platform to small local vendors and manufacturers
          </p>
        </div>
        <!-- End of .section-heading -->
      </div>
      <!-- End of .roadmap-to-success -->
    </div>
    <!-- End of .container -->

    <div class="roadmap-container">
      <div class="row align-items-end no-gutters">
        <div class="col-md roadmap-label l-1" title="Click to open">
          <div class="text-content">
            2020-21
            <span>Planning</span>
          </div>
          <div class="data">
            <div class="line"></div>
            <div class="card text-left">
              <a class="img-container" href="/">
                <img src="/images/roadmap/planning.jpeg" alt="roadmap image" class="img-fluid" />
              </a>
              <div class="card-header">
                <h4 class="mb-0">
                  <a href="#"> Planning </a>
                </h4>
              </div>
              <div class="card-body">
                <p>
                  In the 1990s, Indian social activist Rajiv Dixit founded a campaign called Azadi Bachao Andolan, or the Save Freedom Movement, for protecting the Indian industries when the presence of multi-national corporations was increasing in India. He started promoting indigenous products by giving speeches about the concept of Swadeshi and also used the ideology of decentralization. By taking forward Rajiv Dixit's ideology of decentralization, KARWT founded an e-commerce website.
For the benefit of society and the betterment of the public, KARWT thought of starting an eCommerce website that follows decentralization and closed market policy. They studied different kinds of business models and case studies about the needs of the local people and the size of KARWT's retail outlets. After analyzing the result of this case study, they found out that the right size for the retail outlets based on the requirements of the local people is a periphery of 10 km, which has an approximate population of 50 thousand people. 
                </p>
              </div>
            </div>
            <!-- End of .card -->
          </div>
          <!-- End of .data -->
        </div>
        <!-- End of .roadmap-label -->

        <div class="col-md roadmap-label l-2" title="Click to open">
          <div class="text-content">
            August 2021
            <span>Pre-Launch</span>
          </div>
          <div class="data">
            <div class="line"></div>
            <div class="card text-left">
              <a class="img-container" href="#">
                <img src="/images/roadmap/prelunch1.jpeg" alt="roadmap image" class="img-fluid" />
              </a>
              <div class="card-header">
                <h4 class="mb-0">
                  <a href="#"> Pre-Launch </a>
                </h4>
              </div>
              <div class="card-body">
                <p>
                  For the benefit of KARWT and society's welfare, we have opted a progressive step-out strategy. This strategy will also help in ensuring the success of KARWT. The pre-launch period of the KARWT website will begin in July and will continue until the registration count on this website reaches 10 to 20 lakh registers. People who register themselves on KARWT's website during the pre-launch period can earn money through Passive Income. The foundation members or the users who will join KARWT during the pre-launch period can earn points by referring KARWT to others using a referral link.

                </p>
               
              </div>
            </div>
            <!-- End of .card -->
          </div>
          <!-- End of .data -->
        </div>
        <!-- End of .roadmap-label -->

        <div class="col-md roadmap-label l-3" title="Click to open">
          <div class="text-content">
            Nov/Dec 2021
            <span>Beta Launch</span>
          </div>
          <div class="data">
            <div class="line"></div>
            <div class="card text-left">
              <a class="img-container" href="#">
                <img src="/images/roadmap/betalunch.jpeg" alt="roadmap image" class="img-fluid" />
              </a>
              <div class="card-header">
                <h4 class="mb-0">
                  <a href="#"> Beta Launch </a>
                </h4>
              </div>
              <div class="card-body">
                <p>
                  The Beta-launch period of the KARWT website is an intermediate period between the pre-launch and launch period. During this period, the information or data of the registered users will have immigrated on the website. Also, all the issues that occurred on the website will be solved during the beta-launch so that, after the website is launch, the users can have a good experience and can use it without any problem. 
                </p>
                
              </div>
            </div>
            <!-- End of .card -->
          </div>
          <!-- End of .data -->
        </div>
        <!-- End of .roadmap-label -->

        <div class="col-md roadmap-label l-4" title="Click to open">
          <div class="text-content">
            Dec/Jan 2021-22
            <span>KARWT Centers Openings</span>
          </div>

          <div class="data">
            <div class="line"></div>
            <div class="card text-left">
              <a class="img-container" href="blog-details.html">
                <img src="/images/roadmap/prelunch.jpeg" alt="roadmap image" class="img-fluid" />
              </a>
              <div class="card-header">
                <h4 class="mb-0">
                  <a href="blog-details.html"> Karwt Center Openings </a>
                </h4>
              </div>
              <div class="card-body" title="Click to open">
                <p>
                  After the Beta launch ends, the launch period will start. During this period, the KARWT centers and eCommerce platform will launch. The centers will open at that places first where the number of KARWT users is high, i.e, areas where the KARWT's community is huge. At first, a approx of ten centers will get establish and, the count will increase as KARWT's community will grow. These centers will open in those ten areas where the number of users of the KARWT platform is high. Hence it will ensure the success of these centers and will also help in increasing their popularity.
                </p>
                
              </div>
            </div>
            <!-- End of .card -->
          </div>
          <!-- End of .data -->
        </div>
        <!-- End of .roadmap-label -->

        <div class="col-md roadmap-label l-5" title="Click to open">
          <div class="text-content">
            Mar/Apr 2022
            <span>Expensions of KARWT centers</span>
          </div>
          <div class="data">
            <div class="line"></div>
            <div class="card text-left">
              <a class="img-container" href="#">
                <img src="/images/roadmap/expansion.jpeg" alt="roadmap image" class="img-fluid" />
              </a>
              <div class="card-header">
                <h4 class="mb-0">
                  <a href="#">  Expensions of KARWT centers </a>
                </h4>
              </div>
              <div class="card-body">
                <p>
                  KARWT has opted for a progressive step-out strategy. So KARWT centers expansions will begin once the turnover for individual centers will increases up to 60 percentage success ratio. It will help in establishing the centers in regions where KARWT's popularity is not very high. KARWT is aim to serve community, so funding for running its centers will come from the income earned through the KARWT platform. This income will divide into two parts. One part of this income will be used for the improvement and expansion of the KARWT centers, and the other part, for giving the Passive Income to the Founding Members. The Passive Income provided to the members will depend on the points earned by them, and the value of these points will depend on the turnover of KARWT. Thus an increase in turnover will help in the expansion of the KARWT's centers. It will also ensure success in the regions where KARWT popularity is low.
                </p>
                
              </div>
            </div>
            <!-- End of .card -->
          </div>
          <!-- End of .data -->
        </div>
        <!-- End of .roadmap-label -->

        <div class="col-md roadmap-label l-6" title="Click to open">
          <div class="text-content">
            Nov/Dec 2022
            <span>100 KARWT centers achivements</span>
          </div>

          <div class="data">
            <div class="line"></div>
            <div class="card text-left">
              <a class="img-container" href="#">
                <img src="/images/roadmap/100.jpeg" alt="roadmap image" class="img-fluid" />
              </a>
              <div class="card-header">
                <h4 class="mb-0">
                  <a href="#"> 100 KARWT centers achivements </a>
                </h4>
              </div>
              <div class="card-body">
                <p>
                  After the expansion of KARWT centers come the goal of 100 KARWT centers achievements. By November 2022, KARWT aims to open 100 centers in different states, along with a large dedicated user base. By this time, the profit-sharing value or the value of the points earned by the founding member will be approx Rs 1 or more than that. Thus the amount given to the members will increase. KARWT's main aim is to work for the benefit of local people, together with them. So, once KARWT achieves its goal of opening 100 KARWT centers, it will help small manufactures linked with KARWT's e-commerce platform in establishing their manufacturing units. They can manufacture their products and can send them to KARWT centers for distribution. Thus, these manufactures can increase the productions of their goods. It will also help in reducing the rate of unemployment. And since the rate of unemployment decreases, the rate of immigration will automatically decrease, as the immigrants can get jobs in their towns and states. KARWT will also work for the development of the places where a lot of facilities are not available. 
                </p>
                
              </div>
            </div>
            <!-- End of .card -->
          </div>
          <!-- End of .data -->
        </div>
        <!-- End of .roadmap-label -->

        <div class="col-md roadmap-label l-7" title="Click to open">
          <div class="text-content">
            2022-2032
            <span>10 years Goals of KARWT</span>
          </div>

          <div class="data">
            <div class="line"></div>
            <div class="card text-left">
              <a class="img-container" href="#">
                <img src="/images/roadmap/goal.jpeg" alt="roadmap image" class="img-fluid" />
              </a>
              <div class="card-header">
                <h4 class="mb-0">
                  <a href="#">10 years Goals of KARWT </a>
                </h4>
              </div>
              <div class="card-body">
                <p>
                  KARWT aims to work for local people along with them. For achieving this aim, KARWT planned to provide an e-commerce platform to small local vendors and manufacturers. This website will give them exposer thus, helping them in getting a large number of buyers. These sellers can sell their products without facing a heavy loss and, they will also not lose their ownership. Since KARWT's website will act as the bridge between the sellers and the buyers, so the involvement of third parties is negligible, resulting in low price rates of the products available on the website. KARWT will not only help in giving them exposer but will also help in packaging and delivering the products at the specified location. KARWT will also work for increasing the employment rate, decreasing the immigration rate, and for the development of underdeveloped towns. 
One of the goals that KARWT wants to achieve in the coming ten years is to open 1 lakh 40 thousand karwt centers nationally. KARWT aims to establish a huge user base for itself. This will help them in achieving the ultimate goal of KARWT, which is creating a decentralized market and helping in the development of local people.
                </p>
                
              </div>
            </div>
            <!-- End of .card -->
          </div>
          <!-- End of .data -->
        </div>
        <!-- End of .roadmap-label -->
      </div>
      <!-- End of .row -->

      <svg class="roadmap-line" width="1920">
        <defs>
          <linearGradient id="linear-gradient" y1="42.22" x2="1920.75" y2="42.22"
            gradientTransform="matrix(1, 0, 0, -1, 0, 82)" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#3023ae" />
            <stop offset="1" stop-color="#c86dd7" />
          </linearGradient>
        </defs>
        <path class="roadmap-line-path" d="M -290 0 l2500 0" />
      </svg>
    </div>

  </section>

  <section class="section">
    <div class="container">
      <div class="latest-blog section-padding">
        <div class="section-heading text-center">
          <h2>Latest Social Media Posts</h2>
          <p>
            Follow us on Social Media to get Latest Updates
          </p>
        </div>
        <!-- End of .section-heading -->

        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="fb-page" data-href="http://www.facebook.com/karwt" data-tabs="timeline" data-width="" data-height = "500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="http://www.facebook.com/karwt" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/karwt">Karwt</a></blockquote></div>
            <!-- End of .img-card -->
          </div>
          <!-- End of .col-md-4 -->

          <div class="col-lg-4 col-sm-6">
            <a class="twitter-timeline" data-height = "500" href="https://twitter.com/Karwt1?ref_src=twsrc%5Etfw">Tweets by Karwt1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <!-- End of .img-card -->
          </div>
          <!-- End of .col-md-4 -->

          <div class="col-lg-4 col-sm-6">
            <div class="fb-page" data-href="http://www.facebook.com/karwtUP" data-tabs="timeline" data-width="" data-height = "500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="http://www.facebook.com/karwt" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/karwt">Karwt</a></blockquote></div>
            <!-- End of .img-card -->
          </div>
          <!-- End of .col-md-4 -->
        </div>
        <!-- End of .row -->
      </div>
      <!-- End of .latest-blog -->
    </div>
    <!-- End of .container -->
  </section>
 
<%-include('footer-home')-%>

</body>

</html>