<!doctype html>
<html lang="en">


<!-- Mirrored from themesbrand.com/lexa/layouts/purple/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Apr 2021 13:20:23 GMT -->

<head>

    <meta charset="utf-8" />
    <title>Karwt | The Next Generation Ecommerce Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap Css -->
    <link href="/css/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/css/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/css/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" herf="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css
    https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" herf="<link rel="stylesheet" herf="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css"
    integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body data-sidebar="dark" onload="fetchVendorList()" >

    <!-- <body data-layout="horizontal" data-topbar="colored"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


  
                    <%-include('header')-%>


          
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <%-include('sidebar')-%>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">





                    <!-- start page title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <h4>Manage User</h4>
                                <ol class="breadcrumb m-0">

                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Manage Vendor</a></li>
                                    <li class="breadcrumb-item active">Manage Vendor</li>
                                </ol>
                            </div>
                        </div>


                    </div>
                    <!-- end page title -->

                    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" id="userModalBody">
                    
                            </div>
                        </div>
                    </div>
                    

                    <div class="row">

                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Vendor List</h4>
                                    <!-- <div>
                                        <input class="form-control  float left" type="text" placeholder="" name="" id="param1">

                                    </div> -->
                                    <div class="table-responsive">
                                        <table style="width:100%;overflow-x: hidden;" id="userList" class="table align-middle table-centered table-vertical table-nowrap mb-1">

                                            <thead>
                                                <tr>

                                                    <th>
                                                        Name
                                                        <i class="fas fa-sort"></i>
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>
                                                    <th>
                                                        Mobile
                                                    </th><th>
                                                        State
                                                    </th><th>
                                                        District
                                                    </th><th>
                                                        Constituency
                                                    </th><th>
                                                        Pin Code
                                                    </th><th>
                                                        Business Name
                                                    </th><th>
                                                        Business Type
                                                    </th>

                                                    <th>
                                                        Action
                                                    </th>
                                                    <th>
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody  id="tabletbldy">


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <!-- end row -->


                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <!-- Right bar overlay-->


  <!-- JAVASCRIPT -->
  <script src="/assets/libs/jquery/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
  <script src="/assets/libs/simplebar/simplebar.min.js"></script>
 


  <script src="/assets/libs/raphael/raphael.min.js"></script>



  <script src="/assets/js/app.js"></script>
    
    <!-- DataTables
    <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<!-- DataTables -->
<!-- <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script> -->
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<!-- 
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script> -->
 
<link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
    
    
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script> 
    
    
    <script src="//cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script> 
    <script src="//cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script> 
    <script src="//cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script> 
    <script src="//cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script> 



<script>
function active(email, status){  
            
            $.ajax({  
                url: '/admin/activevendor?email='+email+'&status='+status,
                method: 'get',
                success: function (res){  
                    Swal.fire('Success','','success').then((result)=>{if(result.isConfirmed){location.reload()}})
                }
            })
        }
  function fetchVendorList() {

         
     $.ajax({
             url: '/admin/fetchVendorList',
             method: 'get',
             success: function (data) {
                 
                 
                 console.log(data)
                 $('#userList').DataTable({
                    

                 data:data,


                 dom: 'Blfrtip',
            buttons: [      
                {
                    extend: 'excelHtml5',
                    title: 'Vendor List',
                    text:'Export to Excel' 
                },
                {
                    extend: 'csvHtml5',
                    title: 'Vendor List',                    
                    text: 'Export to CSV' 
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Vendor List',
                    className: 'btn_pdf',
                    text: 'Export to PDF' 
                }
	       ],
                    'columns': [
                 
             
                 {
                     'data': 'vendorname'
    
                 }, {
                     'data': 'vendoremail'
                 },
                 {
                     'data': 'vendormobile'
                 }, 
                 {
                     'data': 'vendorstate'
                 }, 
                 {
                     'data': 'vendordist'
                 }, 
                 {
                     'data': 'vendorconst'
                 }, 
                 {
                     'data': 'vendorpin'
                 }, 
                 {
                     'data': 'vendorbusinessname'
                 }, 
                 {
                     'data': 'vendorbusinesstype'
                 }, 
                 {
                     'data': 'action'
                 }, 
                 {
                     'data': 'status'
                 }
    
                 ]

                })


             },
             error: function (e){  
                 console.log(e)
             }
         })

     


    }
   
    
    function closeUserModal(){  
        $('#userModal').modal('hide')
     }
    function viewVendor(id){  
        $.ajax({
             url: '/admin/fetch_vendordetailsbyid?id='+id,
             method: 'get',
             success: function (res) {

                console.log(res)
                $('#userModal').modal('show');
                $('#userModalBody').html('')
                $('#userModalBody').html(`
                
                
                <div class="modal-header">
                                    <button type="button" class="close" onclick="closeUserModal()" aria-hidden="true"><i class="fas fa-times"></i></button>
                                    <h4 class="modal-title" id="myModalLabel">More about ${res[0].username}</h4>
                                    </div>
                                <div class="modal-body" >
                                    <center>
                                    <img src="/uploads/userimages/${res.userimage}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                    <h3 class="media-heading">${res[0].username} </h3>
                                    <span class="label label-warning">${res[0].useremail}</span><br>
                                    <span class="label label-warning">${res[0].usermobile}</span><br>
                                    <hr>
                                    <center>
                                    <p class="text-left"><strong>Address </strong><br>
                                        <div class="row">
                                            <div class="col-12">
                                                <table>
                                                    <tr>
                                                        <th>State:</th>
                                                        <td>${res[0].userstate}</td>
                                                        </tr>
                                                        <tr>
                                                        <th>Distrist:</th>
                                                        <td>${res[0].userdist}</td>
                                                        </tr>
                                                        <tr>
                                                        <th>Constituency:</th>
                                                        <td>${res[0].userconst}</td>
                                                        </tr>
                                                        <tr>
                                                        <th>PIN:</th>
                                                        <td>${res[0].userpin}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            
                                            </div>

                                            <p class="text-left"><strong>Business Details </strong><br>
                                        <div class="row">
                                            <div class="col-12">
                                                <table>
                                                    <tr>
                                                        <th>Business Name:</th>
                                                        <td>${res[0].userbusinessname}</td>
                                                        </tr>
                                                        <tr>
                                                        <th>Business Type:</th>
                                                        <td>${res[0].userbusinesstype}</td>
                                                        </tr>
                                                        <tr>
                                                        <th>GST No.:</th>
                                                        <td>${res[0].usergst}</td>
                                                        </tr>
                                                        <tr>
                                                        <th>Product/Service:</th>
                                                        <td>${res[0].userproduct}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            
                                            </div>

                                    <br>
                                    </center>
                                </div>

                
                
                
                `)

                 
                 
             },
             error: function (e){  
                 console.log(e)
             }
         })
        

        

    }

     function deleteVendor(id){ 
     $.ajax({
             url: '/admin/deleteVendorById?id='+id,
             method: 'get',
             success: function (res) {
                location.reload();
                 console.log(res)
                 
                 
             },
             error: function (e){  
                 console.log(e)
             }
         })

     }

    

 //    function deleteBlog(id){ 
 //     $.ajax({
 //             url: '/admin/deleteBlog?id='+id,
 //             method: 'get',
 //             success: function (res) {
                 
               
 //                 console.log(res)
 //             }
 //         })

 //     }

     //Method For Searching Records In The List
     // function searchData() {
     //     $('#listAllCostCenter').DataTable().draw();
     // }
     

 </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/profile.js"></script>

</body>


<!-- Mirrored from themesbrand.com/lexa/layouts/purple/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Apr 2021 13:20:47 GMT -->

</html>