<div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Main</li>

        <li>
            <a href="/admin/dashboard" class="waves-effect">
                
                
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="/admin/manageBlogs" class="waves-effect">
             
                
                <span>Manage Blogs</span>
            </a>
        </li>
        <li>
            <a href="/admin/manageUsers" class="waves-effect">
                
                
                <span>Manage Users</span>
            </a>
        </li>


        <li>
            <a href="/admin/manageVendors" class="waves-effect">
                
                
                <span>Manage Vendors</span>
            </a>
        </li>

        
    </ul>
</div>