<!doctype html>
<html lang="en">

    
<!-- Mirrored from themesbrand.com/lexa/layouts/purple/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Apr 2021 13:20:23 GMT -->
<head>

    <meta charset="utf-8" />
    <title>Karwt | The Next Generation Ecommerce Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap Css -->
    <link href="/css/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />

    <!-- Icons Css -->
    <link herf="/assets/css/icons.min.css" rel="stylesheet" />
    <!-- App Css-->
    <link href="/css/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css"
        integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
       
    <link rel="stylesheet" href="/css/loader.css">
    <script src="/js/loader.js"></script>
        </head>
        
        
        <body onload="newloader()" data-sidebar="dark">
        
            <!-- <body data-layout="horizontal" data-topbar="colored"> -->
                <div id="loader"></div>
            <!-- Begin page -->
            <div id="loaderpage" style="display: none">
            <div id="layout-wrapper" >

            
            <%-include('header')-%>
            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">Main</li>

                            <li>
                                <a href="/vendor/dashboard" class="waves-effect">
                                    <i class="mdi mdi-view-dashboard"></i>
                                    
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="/common/posts" class="waves-effect">
                                    <i class="mdi mdi-view-dashboard"></i>
                                    
                                    <span>Blogs</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->

            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row d-flex justify-content-center">
                            <div class="col-12 d-flex justify-content-center" >

                                <div class="row d-flex justify-content-center">
                                    <div class="col-xl-8 d-flex justify-content-center">
                                        <div class="card d-flex justify-content-center">
                                            <div class="card-body d-flex justify-content-center" >
                                <h1>We are Coming soon...</h1>

</div></div></div></div>
                            </div>


                        </div>

                       
                        <!-- end row -->


                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
            
                
            </div>            
            <!-- end main content-->
            <%-include('footer')-%>
        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
      
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <!-- JAVASCRIPT -->
        <script src="/assets/libs/jquery/jquery.min.js"></script>
        <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="/assets/libs/node-waves/waves.min.js"></script>
        <script src="/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
        
        <script src="/js/profile.js"></script>
        

        <script src="/assets/js/app.js"></script>


    </body>

    
<!-- Mirrored from themesbrand.com/lexa/layouts/purple/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Apr 2021 13:20:47 GMT -->
</html>